<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>お客様情報編集</title>
  </head>

  <body>
    <header><%- include('header'); %></header>

    <main>
      <div class="main-header">
        <h1>お客様情報編集</h1>
      </div>

      <!-- 入力値のエラー表示 -->
      <% if (errors.length > 0) { %>
      <ul class="errors">
        <% errors.forEach((error) => { %>
        <li><%= error %></li>
        <% }) %>
      </ul>
      <% } %>

      <div class="customer-update-form-wrapper">
        <form action="/customer/update/<%= customer.id %>" method="post">
          <p>氏名(漢字)</p>
          <input
            class="name-kanji"
            name="nameKanji"
            type="text"
            value="<%= customer.name_kanji %>"
          />
          <p>氏名(カタカナ)</p>
          <input
            class="name-kana"
            name="nameKana"
            type="text"
            value="<%= customer.name_kana %>"
          />
          <p>メールアドレス</p>
          <input
            class="email"
            name="email"
            type="text"
            value="<%= customer.email %>"
          />
          <p></p>
          <input class="button" type="submit" value="更新" />
        </form>
      </div>
    </main>

    <footer><%- include('footer'); %></footer>
  </body>
</html>
