<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>仕上がり日数編集</title>
</head>

<body>
    <header>
        <%- include('header'); %>
    </header>
    
    
    <main>
        <div class="main-header">
            <h1>仕上がり日数編集</h1>
        </div>

        <!-- 入力値のエラー表示 -->
        <% if (errors.length > 0) { %>
            <ul class="errors">
                <% errors.forEach((error) => { %>
                    <li><%= error %></li>
                <% }) %>
            </ul>
        <% } %>        

        <div class="add-update-form-wrapper">
            <form action="/add-update/<%= finishDay.id %>" method="post">
                <p>クリーニングアイテム</p>
                <input class="cleaning-item" name="cleaningItem" type="text" value="<%= finishDay.cleaning_item %>">
                <p>仕上がり日数</p>
                <input class="finish-day" name="finishDay" type="number" value="<%= finishDay.finish_day %>">
                <p></p>
                <input class="button" type="submit" value="更新">
            </form>    
        </div>
    </main>

    
    <footer>
        <%- include('footer'); %>
    </footer>
</body>

</html>
