<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>仕上がり日数</title>
  </head>
  <body>
    <header><%- include('header'); %></header>

    <main>
      <div class="main-header">
        <h1>仕上がり日数</h1>
      </div>

      <div class="finish-day-table-wrapper">
        <table>
          <tr>
            <th>ID</th>
            <th>アイテム</th>
            <th>仕上がり日数</th>
          </tr>

          <% finishDays.forEach((finishDay) => { %>
          <tr>
            <td class="id-column"><%= finishDay.id %></td>
            <td class="id-column"><%= finishDay.cleaning_item %></td>
            <td class="id-column"><%= finishDay.finish_day + '日' %></td>
            <td>
              <!-- 削除ボタン -->
              <!-- ルートパラメータの使用 -->
              <form action="/item/<%= finishDay.id%>" method="post">
                <input type="submit" value="削除" />
              </form>
            </td>
            <td>
              <!-- 編集ボタン -->
              <a href="/item/edit/<%= finishDay.id %>">編集</a>
            </td>
          </tr>
          <% }) %>
        </table>
      </div>
    </main>

    <footer><%- include('footer'); %></footer>
  </body>
</html>
